extends layout

block content
    .para
        .para-group
            .para-layer.para-back
                img#wlop-img
            .para-layer.para-base
                .content
                    h1 Parallax Test
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In expedita beatae quos nostrum sit rem, voluptates, enim laborum, ullam accusantium temporibus mollitia obcaecati magni error magnam? Est perferendis corrupti obcaecati ipsam, ea labore dignissimos.
                    .accel-ctr
                        span#x
                        span#y
                        span#z
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident iure commodi minima tempore magnam odit veritatis dignissimos rem, dolorem non cupiditate dolores eum, voluptates unde aliquid nesciunt deserunt hic inventore ullam illum ipsum! Numquam repellendus esse, perspiciatis sunt harum dicta voluptate. Explicabo velit eaque culpa repellat ea quos ut excepturi.
                .bg-break#bg-break-1 &nbsp;
                .content
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident iure commodi minima tempore magnam odit veritatis dignissimos rem, dolorem non cupiditate dolores eum, voluptates unde aliquid nesciunt deserunt hic inventore ullam illum ipsum! Numquam repellendus esse, perspiciatis sunt harum dicta voluptate. Explicabo velit eaque culpa repellat ea quos ut excepturi.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident iure commodi minima tempore magnam odit veritatis dignissimos rem, dolorem non cupiditate dolores eum, voluptates unde aliquid nesciunt deserunt hic inventore ullam illum ipsum! Numquam repellendus esse, perspiciatis sunt harum dicta voluptate. Explicabo velit eaque culpa repellat ea quos ut excepturi.
                    p Lorem ipsum dolor lsit amet consectetur adipisicing elit. Laborum ad fugiat, praesentium maiores reiciendis est nemo suscipit officiis eius cumque commodi distinctio, sed facere quas consequuntur veritatis nam cum assumenda.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur temporibus modi quod, provident facere magnam possimus ut nostrum eos porro laudantium vel, in, ea consequuntur aspernatur reprehenderit! Consequuntur est magni culpa quia blanditiis facilis architecto totam, aliquam neque suscipit doloremque incidunt voluptatum impedit repellat hic optio ea maiores temporibus.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur temporibus modi quod, provident facere magnam possimus ut nostrum eos porro laudantium vel, in, ea consequuntur aspernatur reprehenderit! Consequuntur est magni culpa quia blanditiis facilis architecto totam, aliquam neque suscipit doloremque incidunt voluptatum impedit repellat hic optio ea maiores temporibus.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur temporibus modi quod, provident facere magnam possimus ut nostrum eos porro laudantium vel, in, ea consequuntur aspernatur reprehenderit! Consequuntur est magni culpa quia blanditiis facilis architecto totam, aliquam neque suscipit doloremque incidunt voluptatum impedit repellat hic optio ea maiores temporibus.

