extends layout

block content
    h1 Parallax Test
    p Here's a paragraph for you! It should be long enough to wrap around the screen at least one time on small screens. Well, I hope you enjoyed the read. :-)
    .accel-ctr
        span#x
        span#y
        span#z
