extends layout

block content
    h1 Parallax Test
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In expedita beatae quos nostrum sit rem, voluptates, enim laborum, ullam accusantium temporibus mollitia obcaecati magni error magnam? Est perferendis corrupti obcaecati ipsam, ea labore dignissimos.
    .accel-ctr
        span#x
        span#y
        span#z
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur temporibus modi quod, provident facere magnam possimus ut nostrum eos porro laudantium vel, in, ea consequuntur aspernatur reprehenderit! Consequuntur est magni culpa quia blanditiis facilis architecto totam, aliquam neque suscipit doloremque incidunt voluptatum impedit repellat hic optio ea maiores temporibus.
    .bg-break#bg-break-1 &nbsp;
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ad fugiat, praesentium maiores reiciendis est nemo suscipit officiis eius cumque commodi distinctio, sed facere quas consequuntur veritatis nam cum assumenda.
