body {
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

h1 {
    text-align: center;
    padding: 0.25em;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

p {
    padding: 0 1em 1em;
    margin: 0;
}

.content {
    background-color: white;
    padding-top: 1em;
}

.bg-break {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    min-height: 260px;
    height: 80vh;
}

.accel-ctr {
    font-size: 1.4em;
    background-color: rgb(50, 50, 50);
    text-align: center;
    padding: 1em;
    margin: 1em;
    overflow: hidden;
    white-space: nowrap;
    > span {
        display: block;
        padding:  0 0.25em;
    }
    @media screen and (min-width: 768px) {
        > span {
            display: inline-block;
            padding: 0 2em;
        }
    }
    :nth-child(1) { /* span#x */
        color: rgb(255, 170, 170);
    }
    :nth-child(2) { /* span#y */
        color: rgb(170, 255, 170);
    }
    :nth-child(3) { /* span#z */
        color: rgb(170, 170, 255);
    }
}

/**
 * Mostly taken from here:
 * https://keithclark.co.uk/articles/pure-css-parallax-websites/
 */
.para {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.para-group {
    position: relative;
    transform-style: preserve-3d;
}
.para-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.para-back {
    transform: translateZ(-1px) scale(2);
    top: 350px;
    #wlop-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        content: url('https://img00.deviantart.net/eeba/i/2016/308/b/0/ruler_by_wlop-da92lk2.jpg');
    }
}
.para-base {
    transform: translateZ(0);
}
